*{
    padding:0em;
    margin:0em;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:rgba(0, 0, 0, 0.89);
}
h1{
    text-align:center;
    padding:.25em;
    font-size:5vw;
    color: gold;
}
.neon{
    text-shadow:
    0 0 5px rgb(255, 255, 255);
}
.buttonsAndGameScreen{
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    gap:4em;
    padding:1em;
    border-radius:1%;
}
.buttonContainer{
    display:inline-flex;
    flex-direction:column;
    align-items:space-between;
    justify-content:space-evenly;
    text-align:center;
    padding:1em;
    max-width:70vw;
    gap:2em;
}
.colorContainer{
    display:flex;
    flex-direction: column;
    gap:1em;
    align-items:center;
}
.colorContainer.pen{
    margin-bottom: -1em;
}
.button,
.gridLines,
.clear{
    padding:.5em 1em;
    background-color:white;
    border:none;
    text-align:center;
    font-size:2vw;
    outline:outset gold 4px;
    border-radius:1000px;
    font-size:1em;
    transition:.1s;
}
.button:hover{
    transform:scale(1.1);
}
.gridLines:hover,
.clear:hover{
    background-color:black;
    color:white;
}
.button:active{
    transform:scale(1.1);
    background-color:black;
    color:white;
}
.gridLines:active,
.clear:active{
    transform:scale(0.97);
    background-color:black;
    color:white;
}
.clickedButton{
    transform:scale(1.1);
    background-color:black;
    color:white;
}
.penColorChooser,
.backgroundColorChooser{
    width:100%;
    padding:0em;
    background-color:white;
    border:solid black -10px;
    border-radius:0%;
}
.colorText{
    background-color:rgba(0,0,0,0);
}
.gameScreen{
    display:inline-flex;
    border:white solid 2px;
    flex-wrap:wrap;
    flex-direction:column;
    width:40vw;
    height:40vw;
    min-width:400px;
    min-height:400px;
    background-color:white;
    box-shadow:0px 0px 10px 10px black;
    margin:auto;
}
.pixelRows{
    display:flex;
    flex:2;
}
.pixelBlocks{
    display:flex;
    flex:auto;
    border:black solid 1px;
}
.sliderContainer,
p{
    display:flex;
    flex-direction:column;
    align-items:center;
    opacity:0.7;
    gap:1em;
}
.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 10px; 
    border-radius:10px;
    background: #d3d3d3; 
    outline:black; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
.fullOpacity{
    opacity:1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 25px; 
    height: 25px; 
    border-radius:100%;
    background-color:gold;
    cursor:pointer; 
}
.sliderOutput,
p{
    color:gold;
    font-size:1em;
}
.noGridLines{
    border:none;
}